# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
{
    "dev": "tsnd --respawn --clear src/app.ts",
    "dev:api": "tsnd --respawn --clear src/app.ts --api",
    "build": "rimraf ./dist && tsc",
    "start": "npm run build && node dist/app.js"
  }